.titlebar {
    background-color: rgb(51, 51, 51);
    color: white;
    user-select: none;
    cursor:default;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .titlebar-title{
    flex:1;
    text-align: center;
    overflow:hidden;
  }
  
  .titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
  }
  
  .titlebar-button:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  
  .button-icon{
    filter: invert(100%);
  }