.module-container {
    margin-top: 2px;
    width: 56px;
    min-width: 56px;
    border-radius: 4px;
    overflow: hidden;    
}

.module-button {
    color: white;
    line-height: 56px;
    vertical-align: top;
    height: 56px;
    width: 56px;
    padding: 0px;
    border: none;
}

.module-button-inactive {
    background-color: rgb(50, 50, 50);
}

.module-button-active {
    background-color: rgb(100, 100, 100);
}

.module-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.subwindow-button {
    color: white;
    height: 28px;
    min-height: 28px;
    width: 56px;
    padding: 0px;
    border: none;
    overflow: hidden;
}

.subwindow-button-inactive {
    background-color: rgb(50, 50, 50);
}

.subwindow-button-active {
    background-color: rgb(100, 100, 100);
}

.subwindow-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.toggle-subwindows-button {
    background-color: rgb(50, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    min-height: 20px;
    width: 56px;
    padding: 0px;
    margin: 0px;
    border: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.toggle-subwindows-button:hover {
    background: rgba(255, 255, 255, 0.2);
}